<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="khoavin.sillylearningenglish">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:name=".Depdency.SillyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:supportsRtl"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_application_id"/>
        <activity
            android:name=".Function.HomeMenu.HomeActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Function.Authentication.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Function.Arena.Views.Implementation.ArenaActivity" />
        <activity android:name=".Function.MailBox.MailBoxList.View.MailActivity" />
        <activity android:name=".Function.Arena.Views.Implementation.BattlePrepareActivity" />
        <activity android:name=".Function.Authentication.RegisterActivity" />
        <activity android:name=".Function.Arena.Views.Implementation.AnswerActivity" />
        <service android:name=".SYSTEM.Service.MessageListenerService"></service>

        <activity android:name=".Function.TrainingRoom.TrainingActivity"></activity>
        <activity android:name=".Function.TrainingRoom.LessonInfo.View.LessonInfoActivity"/>
        <activity android:name=".Function.MailBox.MailBoxDetail.View.ActivityMailBoxDetail"/>
        <activity android:name=".Function.TrainingRoom.LessonDetail.View.PlayActivity"/>
        <activity android:name=".Function.TrainingRoom.LessonDetail.View.LessonDetailActivity"/>
        <activity android:name=".Function.Arena.Views.Implementation.ResultActivity"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <service android:name=".SYSTEM.Service.BackgroundMusicService"></service>
    </application>

</manifest>